In [1]:
import geopandas as geo
import pandas as pd
from shapely.geometry import Point
from shapely import wkt
import numpy as np
from shapely.geometry import Polygon, Point
from shapely.strtree import STRtree
import numpy as np
import time
from geopandas import sjoin
import gc

In [2]:
micro_df = pd.read_csv("Micro_250m_mit_Polygon_geometry.csv", sep=",",nrows=10000)

In [3]:
df = pd.read_csv("MergedWithFigures_Merged_ALL.csv", sep=",",nrows=10000)
df["geometry"] = df["geometry"].apply(wkt.loads)

In [5]:
  df.head(30)

,Unnamed: 0,id,left,top,right,bottom,geometry,IndexListe,AverageDOWNLOAD,AverageUPLOAD,Averageping_ms,Averagelte_rsrp,Averagelte_rsrq,Averagendt_download_kbit,Averagendt_upload_kbit,Averagesignal_strength,Averagedtm_level
0,0,188,112750.0,327431.8348,113750.0,326431.8348,"POLYGON ((112749.9999999999 383000.0000014922,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750 382000.0000014934, 113750 382...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,32.838462,-114.250000,-12.450000,NaN,NaN,-76.000000,420.480000
2,2,190,112750.0,325431.8348,113750.0,324431.8348,"POLYGON ((112749.9999999999 381000.0000014932,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,477,113750.0,329431.8348,114750.0,328431.8348,"POLYGON ((113749.9999999999 385000.0000014925,...",[1125],12764.000000,6767.000000,23.200000,NaN,NaN,NaN,NaN,-45.000000,NaN
4,4,478,113750.0,328431.8348,114750.0,327431.8348,"POLYGON ((113750.0000000001 384000.0000014937,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,479,113750.0,327431.8348,114750.0,326431.8348,"POLYGON ((113750.0000000001 383000.0000014936,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,480,113750.0,326431.8348,114750.0,325431.8348,"POLYGON ((113750 382000.0000014941, 114750.000...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,481,113750.0,325431.8348,114750.0,324431.8348,"POLYGON ((113750 381000.0000014932, 114749.999...","[799363, 2565572, 1742215, 775306, 2002572, 43...",28524.716216,8753.918919,36.672973,-94.333333,-12.333333,129101.000000,18913.000000,-50.666667,435.018868
8,8,482,113750.0,324431.8348,114750.0,323431.8348,"POLYGON ((113750.0000000001 380000.0000014944,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,483,113750.0,323431.8348,114750.0,322431.8348,"POLYGON ((113750.0000000001 379000.0000014942,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,484,113750.0,322431.8348,114750.0,321431.8348,"POLYGON ((113749.9999999999 378000.0000014912,...","[1350121, 1364426, 1350111, 3034830, 3034831, ...",33501.777778,8935.222222,44.855556,-106.666667,-13.000000,25695.833333,5271.833333,-69.400000,444.000000
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113749.9999999999 377000.0000014924,...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,43.035484,-96.000000,-11.500000,5022.666667,2009.333333,-56.650000,476.666667
12,12,486,113750.0,320431.8348,114750.0,319431.8348,"POLYGON ((113750.0000000001 376000.0000014937,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,491,113750.0,315431.8348,114750.0,314431.8348,"POLYGON ((113750 371000.0000014927, 114749.999...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,767,114750.0,330431.8348,115750.0,329431.8348,"POLYGON ((114750 386000.0000014927, 115750.000...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,768,114750.0,329431.8348,115750.0,328431.8348,"POLYGON ((114750.0000000001 385000.0000014947,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,769,114750.0,328431.8348,115750.0,327431.8348,"POLYGON ((114750 384000.0000014937, 115749.999...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,770,114750.0,327431.8348,115750.0,326431.8348,"POLYGON ((114750.0000000001 383000.0000014936,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,771,114750.0,326431.8348,115750.0,325431.8348,"POLYGON ((114750.0000000001 382000.0000014941,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,772,114750.0,325431.8348,115750.0,324431.8348,"POLYGON ((114749.9999999999 381000.0000014925,...","[600064, 600065, 1056258, 454146, 1579018, 600...",36601.796053,7689.157895,36.028947,-107.264706,-11.705882,NaN,NaN,-55.680851,436.503497
20,20,773,114750.0,324431.8348,115750.0,323431.8348,"POLYGON ((114749.9999999999 380000.0000014916,...","[3143682, 1592835, 683012, 1221127, 2073095, 1...",30211.881481,9186.322222,40.657778,-110.205882,-13.117647,14966.307692,4969.846154,-59.831579,438.130841
21,21,774,114750.0,323431.8348,115750.0,322431.8348,"POLYGON ((114749.9999999999 379000.0000014935,...","[3122560, 1519494, 3108103, 3122447, 3028624, ...",26752.661017,9448.491525,35.922034,-107.232558,-15.348837,NaN,NaN,-53.750000,536.166667
22,22,775,114750.0,322431.8348,115750.0,321431.8348,"POLYGON ((114750.0000000001 378000.0000014933,...","[2791426, 2201604, 2523146, 2201626, 1640485, ...",42417.301552,14475.514412,29.157871,-94.562874,-11.832335,14392.148148,4171.481481,-54.066372,445.745042
23,23,776,114750.0,321431.8348,115750.0,320431.8348,"POLYGON ((114749.9999999999 377000.0000014945,...","[672259, 713732, 1734152, 3418125, 1734158, 16...",27455.480392,10093.372549,45.849020,-97.000000,-13.733333,NaN,NaN,-72.571429,457.733333
24,24,777,114750.0,320431.8348,115750.0,319431.8348,"POLYGON ((114750.0000000001 376000.0000014944,...","[1603203, 9732, 1855374, 2942863, 2239638, 824...",55990.469388,11946.693878,33.628571,-93.500000,-13.500000,66560.000000,33643.000000,-53.666667,466.857143
25,25,778,114750.0,319431.8348,115750.0,318431.8348,"POLYGON ((114750.0000000001 375000.0000014942,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,779,114750.0,318431.8348,115750.0,317431.8348,"POLYGON ((114749.9999999999 374000.000001494, ...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,780,114750.0,317431.8348,115750.0,316431.8348,"POLYGON ((114749.9999999999 373000.0000014931,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,781,114750.0,316431.8348,115750.0,315431.8348,"POLYGON ((114750.0000000001 372000.0000014943,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,782,114750.0,315431.8348,115750.0,314431.8348,"POLYGON ((114749.9999999999 371000.0000014934,...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gdf = geo.GeoDataFrame(df)

In [11]:
gdf.head()

,Unnamed: 0,id,left,top,right,bottom,geometry,IndexListe,AverageDOWNLOAD,AverageUPLOAD,Averageping_ms,Averagelte_rsrp,Averagelte_rsrq,Averagendt_download_kbit,Averagendt_upload_kbit,Averagesignal_strength,Averagedtm_level
0,0,188,112750.0,327431.8348,113750.0,326431.8348,"POLYGON ((112750.000 383000.000, 113750.000 38...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,32.838462,-114.25,-12.45,NaN,NaN,-76.0,420.48
2,2,190,112750.0,325431.8348,113750.0,324431.8348,"POLYGON ((112750.000 381000.000, 113750.000 38...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,477,113750.0,329431.8348,114750.0,328431.8348,"POLYGON ((113750.000 385000.000, 114750.000 38...",[1125],12764.000000,6767.000000,23.200000,NaN,NaN,NaN,NaN,-45.0,NaN
4,4,478,113750.0,328431.8348,114750.0,327431.8348,"POLYGON ((113750.000 384000.000, 114750.000 38...",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
micro_df["geometry"] = micro_df["WKT"].apply(wkt.loads)
micro_gdf = geo.GeoDataFrame(micro_df)

In [15]:
                    micro_gdf.head()

,WKT,OBJECTID,R_250M,MP_X,MP_Y,HWS11,HWS10,HWS09,HWS06,NWS06,...,LU_Vollzeit,LU_Teilzeit,LU_sonstiges,PHH_1Pers,PHH_2Pers,PHH_3plusPers,AnstHH,Shape_Length,Shape_Area,geometry
0,"MULTIPOLYGON (((398750.0 490250.000000007,3987...",1,398_490_Bd,398875.0,434806.834799,1,1,1,2,0,...,0,0,0,0,0,0,0,1000.0,62500.000003,"MULTIPOLYGON (((398750.000 490250.000, 398750...."
1,"MULTIPOLYGON (((363000.0 473750.0,363000.0 473...",2,363_473_Cc,363125.0,418306.834799,6,6,6,6,0,...,0,0,0,0,0,0,0,1000.0,62499.999998,"MULTIPOLYGON (((363000.000 473750.000, 363000...."
2,"MULTIPOLYGON (((363000.0 473500.000000006,3630...",3,363_473_Ca,363125.0,418056.834799,34,33,29,30,5,...,11,4,21,5,3,7,0,1000.0,62500.000001,"MULTIPOLYGON (((363000.000 473500.000, 363000...."
3,"MULTIPOLYGON (((363000.0 473250.000000001,3630...",4,363_473_Ac,363125.0,417806.834799,103,102,101,107,13,...,53,10,44,14,17,18,0,1000.0,62500.000000,"MULTIPOLYGON (((363000.000 473250.000, 363000...."
4,"MULTIPOLYGON (((362750.0 472999.999999998,3627...",5,362_473_Bb,362875.0,417556.834799,13,13,13,14,1,...,0,0,0,0,0,0,0,1000.0,62500.000001,"MULTIPOLYGON (((362750.000 473000.000, 362750...."

In [9]:

micro_gdf = micro_gdf.assign(ID_von_Messdaten = float('nan'))

In [26]:
df_big = sjoin(gdf,micro_gdf)

In [14]:
for j in range(len(micro_gdf)):
    gdf.geometry[j].contains(micro_gdf.WKT[j])

AttributeError: 'str' object has no attribute '_geom'

In [28]:
df_big.head(50)

,Unnamed: 0,id,left,top,right,bottom,geometry,IndexListe,AverageDOWNLOAD,AverageUPLOAD,...,Bildung_nichtMatura,LU_Vollzeit,LU_Teilzeit,LU_sonstiges,PHH_1Pers,PHH_2Pers,PHH_3plusPers,AnstHH,Shape_Length,Shape_Area
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,47,20,11,34,8,4,14,0,1000.0,62500.000004
6,6,480,113750.0,326431.8348,114750.0,325431.8348,"POLYGON ((113750.000 382000.000, 114750.000 38...",[],NaN,NaN,...,47,20,11,34,8,4,14,0,1000.0,62500.000004
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,0,0,0,0,0,0,0,0,1000.0,62500.000004
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,0,0,0,0,0,0,0,0,1000.0,62500.000005
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,0,0,0,0,0,0,0,0,1000.0,62500.000005
6,6,480,113750.0,326431.8348,114750.0,325431.8348,"POLYGON ((113750.000 382000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62500.000005
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,0,0,0,0,0,0,0,0,1000.0,62500.000000
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,40,21,5,36,6,8,10,0,1000.0,62500.000005
2,2,190,112750.0,325431.8348,113750.0,324431.8348,"POLYGON ((112750.000 381000.000, 113750.000 38...",[],NaN,NaN,...,40,21,5,36,6,8,10,0,1000.0,62500.000005
6,6,480,113750.0,326431.8348,114750.0,325431.8348,"POLYGON ((113750.000 382000.000, 114750.000 38...",[],NaN,NaN,...,40,21,5,36,6,8,10,0,1000.0,62500.000005
7,7,481,113750.0,325431.8348,114750.0,324431.8348,"POLYGON ((113750.000 381000.000, 114750.000 38...","[799363, 2565572, 1742215, 775306, 2002572, 43...",28524.716216,8753.918919,...,40,21,5,36,6,8,10,0,1000.0,62500.000005
1,1,189,112750.0,326431.8348,113750.0,325431.8348,"POLYGON ((112750.000 382000.000, 113750.000 38...","[1280514, 2586013, 1500837, 550053, 9125, 1027...",30191.923077,4869.653846,...,0,0,0,0,0,0,0,0,1000.0,62500.000005
2,2,190,112750.0,325431.8348,113750.0,324431.8348,"POLYGON ((112750.000 381000.000, 113750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62500.000005
2,2,190,112750.0,325431.8348,113750.0,324431.8348,"POLYGON ((112750.000 381000.000, 113750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62500.000002
7,7,481,113750.0,325431.8348,114750.0,324431.8348,"POLYGON ((113750.000 381000.000, 114750.000 38...","[799363, 2565572, 1742215, 775306, 2002572, 43...",28524.716216,8753.918919,...,0,0,0,0,0,0,0,0,1000.0,62500.000002
5,5,479,113750.0,327431.8348,114750.0,326431.8348,"POLYGON ((113750.000 383000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999997
6,6,480,113750.0,326431.8348,114750.0,325431.8348,"POLYGON ((113750.000 382000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999995
7,7,481,113750.0,325431.8348,114750.0,324431.8348,"POLYGON ((113750.000 381000.000, 114750.000 38...","[799363, 2565572, 1742215, 775306, 2002572, 43...",28524.716216,8753.918919,...,61,39,7,33,5,6,14,0,1000.0,62499.999997
19,19,772,114750.0,325431.8348,115750.0,324431.8348,"POLYGON ((114750.000 381000.000, 115750.000 38...","[600064, 600065, 1056258, 454146, 1579018, 600...",36601.796053,7689.157895,...,61,39,7,33,5,6,14,0,1000.0,62499.999997
7,7,481,113750.0,325431.8348,114750.0,324431.8348,"POLYGON ((113750.000 381000.000, 114750.000 38...","[799363, 2565572, 1742215, 775306, 2002572, 43...",28524.716216,8753.918919,...,49,27,8,36,10,11,9,0,1000.0,62499.999999
8,8,482,113750.0,324431.8348,114750.0,323431.8348,"POLYGON ((113750.000 380000.000, 114750.000 38...",[],NaN,NaN,...,49,27,8,36,10,11,9,0,1000.0,62499.999999
19,19,772,114750.0,325431.8348,115750.0,324431.8348,"POLYGON ((114750.000 381000.000, 115750.000 38...","[600064, 600065, 1056258, 454146, 1579018, 600...",36601.796053,7689.157895,...,49,27,8,36,10,11,9,0,1000.0,62499.999999
20,20,773,114750.0,324431.8348,115750.0,323431.8348,"POLYGON ((114750.000 380000.000, 115750.000 38...","[3143682, 1592835, 683012, 1221127, 2073095, 1...",30211.881481,9186.322222,...,49,27,8,36,10,11,9,0,1000.0,62499.999999
8,8,482,113750.0,324431.8348,114750.0,323431.8348,"POLYGON ((113750.000 380000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
20,20,773,114750.0,324431.8348,115750.0,323431.8348,"POLYGON ((114750.000 380000.000, 115750.000 38...","[3143682, 1592835, 683012, 1221127, 2073095, 1...",30211.881481,9186.322222,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
8,8,482,113750.0,324431.8348,114750.0,323431.8348,"POLYGON ((113750.000 380000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999997
20,20,773,114750.0,324431.8348,115750.0,323431.8348,"POLYGON ((114750.000 380000.000, 115750.000 38...","[3143682, 1592835, 683012, 1221127, 2073095, 1...",30211.881481,9186.322222,...,0,0,0,0,0,0,0,0,1000.0,62499.999997
8,8,482,113750.0,324431.8348,114750.0,323431.8348,"POLYGON ((113750.000 380000.000, 114750.000 38...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
20,20,773,114750.0,324431.8348,115750.0,323431.8348,"POLYGON ((114750.000 380000.000, 115750.000 38...","[3143682, 1592835, 683012, 1221127, 2073095, 1...",30211.881481,9186.322222,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
9,9,483,113750.0,323431.8348,114750.0,322431.8348,"POLYGON ((113750.000 379000.000, 114750.000 37...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
21,21,774,114750.0,323431.8348,115750.0,322431.8348,"POLYGON ((114750.000 379000.000, 115750.000 37...","[3122560, 1519494, 3108103, 3122447, 3028624, ...",26752.661017,9448.491525,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
10,10,484,113750.0,322431.8348,114750.0,321431.8348,"POLYGON ((113750.000 378000.000, 114750.000 37...","[1350121, 1364426, 1350111, 3034830, 3034831, ...",33501.777778,8935.222222,...,0,0,0,0,0,0,0,0,1000.0,62499.999998
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,0,0,0,0,0,0,0,0,1000.0,62499.999998
10,10,484,113750.0,322431.8348,114750.0,321431.8348,"POLYGON ((113750.000 378000.000, 114750.000 37...","[1350121, 1364426, 1350111, 3034830, 3034831, ...",33501.777778,8935.222222,...,29,16,5,21,3,4,8,0,1000.0,62499.999998
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,29,16,5,21,3,4,8,0,1000.0,62499.999998
22,22,775,114750.0,322431.8348,115750.0,321431.8348,"POLYGON ((114750.000 378000.000, 115750.000 37...","[2791426, 2201604, 2523146, 2201626, 1640485, ...",42417.301552,14475.514412,...,29,16,5,21,3,4,8,0,1000.0,62499.999998
23,23,776,114750.0,321431.8348,115750.0,320431.8348,"POLYGON ((114750.000 377000.000, 115750.000 37...","[672259, 713732, 1734152, 3418125, 1734158, 16...",27455.480392,10093.372549,...,29,16,5,21,3,4,8,0,1000.0,62499.999998
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,56,29,9,37,5,14,13,0,1000.0,62499.999997
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,0,0,0,0,0,0,0,0,1000.0,62499.999999
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,25,11,6,18,2,7,5,0,1000.0,62499.999997
23,23,776,114750.0,321431.8348,115750.0,320431.8348,"POLYGON ((114750.000 377000.000, 115750.000 37...","[672259, 713732, 1734152, 3418125, 1734158, 16...",27455.480392,10093.372549,...,25,11,6,18,2,7,5,0,1000.0,62499.999997
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,0,0,0,0,0,0,0,0,1000.0,62500.000000
12,12,486,113750.0,320431.8348,114750.0,319431.8348,"POLYGON ((113750.000 376000.000, 114750.000 37...",[],NaN,NaN,...,0,0,0,0,0,0,0,0,1000.0,62500.000000
23,23,776,114750.0,321431.8348,115750.0,320431.8348,"POLYGON ((114750.000 377000.000, 115750.000 37...","[672259, 713732, 1734152, 3418125, 1734158, 16...",27455.480392,10093.372549,...,0,0,0,0,0,0,0,0,1000.0,62500.000000
24,24,777,114750.0,320431.8348,115750.0,319431.8348,"POLYGON ((114750.000 376000.000, 115750.000 37...","[1603203, 9732, 1855374, 2942863, 2239638, 824...",55990.469388,11946.693878,...,0,0,0,0,0,0,0,0,1000.0,62500.000000
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,22,12,3,22,2,5,7,0,1000.0,62499.999999
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,71,48,14,47,9,10,21,0,1000.0,62500.000001
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,41,26,3,18,4,6,9,0,1000.0,62499.999999
11,11,485,113750.0,321431.8348,114750.0,320431.8348,"POLYGON ((113750.000 377000.000, 114750.000 37...","[1436289, 1620996, 443398, 443402, 409106, 143...",47806.193548,11946.322581,...,0,0,0,0,0,0,0,0,1000.0,62500.000001
23,23,776,114750.0,321431.8348,115750.0,320431.8348,"POLYGON ((114750.000 377000.000, 115750.000 37...","[672259, 713732, 1734152, 3418125, 1734158, 16...",27455.480392,10093.372549,...,0,0,0,0,0,0,0,0,1000.0,62500.000001

In [24]:
df_big.to_csv("Joined.csv")

,WKT,OBJECTID,R_250M,MP_X,MP_Y,HWS11,HWS10,HWS09,HWS06,NWS06,...,LU_Vollzeit,LU_Teilzeit,LU_sonstiges,PHH_1Pers,PHH_2Pers,PHH_3plusPers,AnstHH,Shape_Length,Shape_Area,AverageDOWNLOAD
1950,"(POLYGON ((135250 373750.000000003, 135250 374...",1951,135_373_Cd,135375.0,318306.834799,99,96,98,101,8,...,42,10,48,5,11,19,0,1000.0,62499.999999,NaN
1951,"(POLYGON ((135500 373750.000000004, 135500 374...",1952,135_373_Dc,135625.0,318306.834799,29,26,26,26,0,...,0,0,0,0,0,0,0,1000.0,62499.999999,NaN
1952,"(POLYGON ((135750 373750.000000005, 135750 374...",1953,135_373_Dd,135875.0,318306.834799,63,62,61,65,1,...,21,2,38,6,8,10,0,1000.0,62499.999999,NaN
1953,"(POLYGON ((137000.000000007 373750.000000004, ...",1954,137_373_Cc,137125.0,318306.834799,5,5,6,6,0,...,0,0,0,0,0,0,0,1000.0,62499.999997,NaN
1954,"(POLYGON ((141000 377999.999999999, 141000 378...",1955,141_378_Aa,141125.0,322556.834799,3,3,2,3,0,...,0,0,0,0,0,0,0,1000.0,62500.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,"(POLYGON ((395500.000000015 487750.000000001, ...",19997,395_487_Dc,395625.0,432306.834799,4,4,4,4,0,...,0,0,0,0,0,0,0,1000.0,62500.000001,NaN
19997,"(POLYGON ((395750.000000022 487750.000000002, ...",19998,395_487_Dd,395875.0,432306.834799,16,16,14,17,0,...,0,0,0,0,0,0,0,1000.0,62499.999997,NaN
19998,"(POLYGON ((396750 487750.000000002, 396750 487...",19999,396_487_Dd,396875.0,432306.834799,4,4,3,4,0,...,0,0,0,0,0,0,0,1000.0,62499.999999,NaN
19999,"(POLYGON ((397250.000000015 487750.000000002, ...",20000,397_487_Cd,397375.0,432306.834799,17,16,15,14,0,...,0,0,0,0,0,0,0,1000.0,62500.000001,NaN
20000,"(POLYGON ((398500 487750.000000002, 398500 487...",20001,398_487_Dc,398625.0,432306.834799,11,11,12,11,1,...,0,0,0,0,0,0,0,1000.0,62499.999999,NaN

In [30]:
i = 0
for x in gdf.geometry: 
    j = 0
    while j < len(micro_gdf) and False == x.contains(micro_gdf.WKT[j]):
        j = j + 1

    if j < len(micro_gdf):
        micro_gdf.loc[j,"ID_von_Messdaten"] =  gdf.loc[i,"id"]
    i = i + 1
    if(i % 100 == 0):
        print(i)

100

KeyboardInterrupt:

In [33]:
micro_gdf["ID_von_Messdaten"][1:100]

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: ID_von_Messdaten, Length: 99, dtype: float64